.venv
.env
Code/database/__pycache__/
Code/nodes/__pycache__/
Code/graph/__pycache__/
Code/utils/__pycache__/
Code/logs/
Code/graph/logs/
__pycache__/

*.pyc
*.sqlite3
Viz/cnn_articles_api/frontend/widget-frontend/package-lock.json
Viz/cnn_articles_api/frontend/widget-frontend/package.json
Viz/cnn_articles_api/start.bat
Viz/cnn_articles_api/api_start.txt
Viz/cnn_articles_api/start.txt
Viz/cnn_articles_api/start.sh
Viz/cnn_articles_api/activate.txt

/pytest-cache__/